@import url('https://fonts.googleapis.com/css2?family=Finlandica:wght@600&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    background: url(./asset/h1.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
#image{
    height: 80vh;
    width: 80vw;
    padding-top: 10vh;
    padding-left: 10vw;   
    position: absolute;
}
#hari{
    display: flex;
    color: white;
    flex-direction: column;
    text-align: center;
    position: absolute;
    padding-left: 20vw;
    padding-top: 18vh;
    font-family: 'Finlandica', sans-serif;
    font-size: 1.6em;
}
table, th, td {
    border: 0.5px solid white;
    padding-top: 0.5vh;
    padding-left: 0.2vw;
    padding-right: 0.2vw;
    padding-bottom: 0.5vh;

  }